<section class="banner">

  <img src="https://images.pexels.com/photos/4402272/pexels-photo-4402272.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="fitBg">
  <div class="content">
    <h2>Explore the World</h2>
    <p> Traveling is a great way to discover and learn, to try new things and to see new opportunities.<br>
      After visiting more than 20 countries, 4 continents and more than 60 cities, <br> I can say that traveling is a lifestyle, isn't it? </p>
  <button type="button" class="btn btn-light">Get inspired</button>
  </div>
</section>
<section class="about">
  <div class="contentBx">
    <h2 class="titleText">Show the beauty of the World</h2>
    <p class="text">
    <br>
    This website is created during special times: the world seems to be frozen, nothings moves, people can’t travel, restaurants and hotels are closed.
    We have so many wonderful memories from all over the world and this is a place to share them.
    Create the memorable stories about your adventures, share emotions and tips.
    Save your stories for the next travellers and inspire with beautiful pictures.
    We will travel again, best time is yet to come.</p>
    <p>
      <%= link_to "Create new article", new_article_path %>
    </p>
<!--     <a href="#" class="btn btn-light">Popular Destination</a>
 -->  </div>
  <div class="imgBx">
    <img src="https://images.pexels.com/photos/893198/pexels-photo-893198.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="fitBg">
  </div>
</section>
<section class="destination">
  <div class="content">
    <h2 class="titleText">Most popular</h2>
    <p class="text">Favourite destinations </p>
  </div>
  <div class="destinationList">
    <div class="box">
      <div class="imgBx">
        <img src="https://images.unsplash.com/photo-1596023397605-709cadaa4fce?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MXwxfDB8MXxyYW5kb218fHx8fHx8fA&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600" class="fitBg">
      </div>
      <div class="content">
        <h2>Lindos<br><span>Greece</span></h2>
      </div>
    </div>
    <div class="box">
      <div class="imgBx">
        <img src="https://images.unsplash.com/photo-1610393813108-fc9e481ce228?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MXwxfDB8MXxyYW5kb218fHx8fHx8fA&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600" class="fitBg">
      </div>
      <div class="content">
        <h2>Tahko<br><span>Finland</span></h2>
      </div>
    </div>
    <div class="box">
      <div class="imgBx">
        <img src="https://images.unsplash.com/photo-1604934627500-d93d013f88eb?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MXwxfDB8MXxyYW5kb218fHx8fHx8fA&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600" class="fitBg">
      </div>
      <div class="content">
        <h2>Lisbon<br><span>Portugal</span></h2>
      </div>
    </div>
  </div>
</section>
<div class="listArticles">
  <h1>All articles</h1>
  <table>
  <tr>
    <th>Title</th>
    <th>Country</th>
  </tr>
  <% @articles.each do |article| %>
  <tr>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <div class="well well-lg">
          <div class="article-country">
            <td><%= article.title %></td>
            <td><%= article.country %></td>
            <div>
            <td>
              <small>Created by: <%= article.user.username if article.user %>,
              <%= time_ago_in_words(article.created_at) %> ago,
              last updated: <%= time_ago_in_words(article.updated_at) %> ago</small>
            </td>
            <td><%= link_to 'Edit', edit_article_path(article), class: "btn btn-xs btn-secondary" %></td>
            <td><%= link_to 'Show', article_path(article), class: "btn btn-xs btn-primary" %></td>
          </div>
        </div>
      </div>
    </div>
  </tr>
  <% end %>
  </table>
</div>
<div class="footer">
  <div class="footer-links">
  </div>
  <div>
    This website is made with love by Lena Blank
  </div>
</div>
